/*商品列表页面****************************************************************/
#lis_middle .lis_main{
	width: 980px;
	height: 780px;
	margin: 0 auto;
}
#lis_middle .lis_main .lis_top{
	width: 980px;
	height: 40px;
}
#lis_middle .lis_main .lis_top>p{
	width: 100px;
	height: 20px;
	margin: 10px 0 0 10px;
	float: left;
}
#lis_middle .lis_main .lis_top>p>a{
	text-decoration: none;
	color: #464646;
	font-size: 12px;
}
#lis_middle .lis_main .lis_top>p>a:hover{
	color: #FD6600;
}
#lis_middle .lis_main .lis_bottom{
	width: 980px;
	height: 742px;
}
#lis_middle .lis_main .lis_bottom .bottom_left{
	width: 202px;
	height: 742px;
	float: left;
}
#lis_middle .lis_main .lis_bottom .bottom_left .bottom_left_top{
	width: 202px;
	height: 291px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}
#lis_middle .lis_main .lis_bottom .bottom_left .bottom_left_top .cc{
	background: url(../img/bang.png);
    line-height: 34px;
    font-size: 13px;
    position: relative;
    width: 202px;
    height: 34px;
    line-height: 34px;
    border-radius: 10px 10px 0 0;
}
.bottom_left .bottom_left_top p:nth-child(1) b{
	margin: 0 0 0 10px;
}
.bottom_left .bottom_left_top p:nth-child(1) button{
	position: absolute;
    top: 8px;
    left: 150px;
    background: #d5d5d5;
    width: 45px;
    height: 18px;
    font-size: 12px;
    color: #666666;
    outline: none;
    border: none;
    border-radius: 5px;
}
.bottom_left .bottom_left_top .gengduo{
    width: 84px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    top: -21px;
    left: 102px;
    display: none;
}
 .bottom_left_top p:nth-child(1) button:hover~.gengduo{
	display: block;
}  

.bottom_left_top .gengduo i{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid black;
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    right: 8px;
}
 .recommend{
	width: 202px;
	height: 259px;
}
 .recommend div{
	    width: 202px;
    height: 86px;
}
.recommend div p{
	width: 60px;
    height: 60px;
    margin: 10px 0 0 10px;
    float: left;
}
.recommend div b{
	margin: 0px 1px 1px 10px;
    font-size: 12px;
}
.recommend div p img{
	width: 60px;
    height: 60px;
}
.recommend div span{
	display: block;
    font-size: 12px;
    float: right;
    width: 111px;
    height: 47px;
    margin: 15px 10px 0px 0px;
}
.recommend div span>a{
	text-decoration: none;
    color: black;
}
.recommend div:nth-child(1) span a{
	color: #3366ff;
}
.recommend div:nth-child(2) span a{
	color: #fd9587;
}
.recommend div:nth-child(3) span a{
	color: #008002;
}
.recommend div span a:hover{
	border-bottom: 1px solid #FD6600;
}
#lis_middle .lis_main .lis_bottom .bottom_left .bottom_left_bottom{
	width: 202px;
	min-height: 100px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin: 10px 0 0 0 ;
}
#lis_middle .lis_main .lis_bottom .bottom_left .bottom_left_bottom .dd{
	background: url(../img/bang.png);
    line-height: 34px;
    font-size: 13px;
    position: relative;
    width: 202px;
    height: 34px;
    line-height: 34px;
    border-radius: 10px 10px 0 0;
}
.history{
	width: 202px;
	height: 259px;
}
 .history div{
	width: 202px;
    height: 86px;
}
.history div p{
	width: 60px;
    height: 60px;
    margin: 10px 0 0 10px;
    float: left;
}
.history div b{
	margin: 0px 1px 1px 10px;
    font-size: 12px;
}
.history div p img{
	width: 60px;
    height: 60px;
}
.history div span{
	display: block;
    font-size: 12px;
    float: right;
    width: 111px;
    height: 47px;
    margin: 15px 10px 0px 0px;
}
.history div span>a{
	text-decoration: none;
}
.history div:nth-child(1) span a{
	color: #3366ff;
}
.history div:nth-child(2) span a{
	color: #fd9587;
}
.history div:nth-child(3) span a{
	color: #008002;
}
.history div span a:hover{
	border-bottom: 1px solid #FD6600;
}
#lis_middle .lis_main .lis_bottom .bottom_left .bottom_left_top .dd .clear{
	display: inline-block;
	margin: 0 0 0 105px;
}
#lis_middle .lis_main .lis_bottom .bottom_left .bottom_left_top .dd .clear a{
	text-decoration: none;
	color: black;
}
#lis_middle .lis_main .lis_bottom .bottom_right{
	width: 775px;
	height: 741px;
	float: right;
}
#lis_middle .lis_main .lis_bottom .bottom_right .bottom_right_top{
	width: 775px;
	height: 132px;
	border-top: 2px solid #E4E4E4;
	border-bottom: 2px solid #DDDDDD;
}
#lis_middle .lis_main .lis_bottom .bottom_right .bottom_right_bottom{
	width: 775px;
	height: 609px;
}
#lis_middle .lis_main .lis_bottom .bottom_right .bottom_right_top p:nth-child(1){
	height: 33px;
	width: 775px;
	font-size: 18px;
	line-height: 33px;
}
#lis_middle .lis_main .lis_bottom .bottom_right .bottom_right_top p:nth-child(1) b{
	margin: 0 0 0 22px;
}
#lis_middle .bottom_right_top p:nth-child(2){
	width: 775px;
	height: 67px;
	line-height: 67px;
}
#lis_middle .bottom_right_top p:nth-child(2) b{
	margin: 0 0 0 75px;
	font-size: 12px;
}
#lis_middle .bottom_right_top p:nth-child(2) .span1{
	background: #666666;
	font-size: 10px;
	color: white;
	padding: 3px 6px;
    margin: 0 5px 0 5px;
    border-radius: 4px;
}
#lis_middle .bottom_right_top p:nth-child(2) .span2{
	font-size: 10px;
	color: #444444;
	padding: 2px 8px;
}
#lis_middle .bottom_right_top p:nth-child(2) .span2:hover{
	background: #E4E4E4;
	color: #fd9500;
	border-radius: 3px;
}
.bottom_right_top ul{
	list-style: none;
}
.bottom_right_top ul li{
    position: relative;
    float: left;
    width: 110px;
    height: 32px;
    text-align: center;
    line-height: 33px;
    font-size: 13px;
    border: none;
    border-bottom: 2px solid #DDDDDD;
    background: white;
}
.bottom_right_top ul li:nth-child(2){
	border: 2px solid #DDDDDD;
	border-bottom:none ;
}
.bottom_right_top ul li a{
	position: relative;
    margin-bottom: -2px;
    padding: 1px 18px 2px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.bottom_right_top ul li .up{
	display: inline-block;
	float: right;
	height: 19px;
	width: 19px;
	margin: 5px -5px 0 5px;
	text-indent: -999em;
	background: url(../img/tab_arrow.gif) no-repeat left top;
	position: absolute;
    top: -4px;
    left: 74px;
}
.bottom_right_top ul li:nth-child(4) .up{
	position: absolute;
	top: -5px;
    left: 42px;
}
.bottom_right_top ul li:nth-child(1){
	width: 90px;
}
.bottom_right_bottom .shangpin{
	width: 774px;
	height: 585px;
}
.bottom_right_bottom .shangpin1{
	width: 774px;
	height: 585px;
	display: none;
}
.bottom_right_bottom .shangpin2{
	width: 774px;
	height: 585px;
	display: none;
	
}
.bottom_right_bottom .s_top{
	width: 750px;
	height: 60px;
	border-bottom: 1px solid #e4e4e4;
	position: relative;	
	line-height: 60px;
	margin: auto;
	color: #888888;
}
.bottom_right_bottom .s_top p button{
    position: absolute;
    top: 21px;
    left: 95px;
    background: #d5d5d5;
    width: 45px;
    height: 18px;
    font-size: 12px;
    color: #666666;
    outline: none;
    border: none;
    border-radius: 5px;
}
.bottom_right_bottom .s_top button:hover~span{
	display: block;
}
.bottom_right_bottom .s_top span{
    width: 84px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    top: -8px;
    left: 45px;
    display: none;
}
.bottom_right_bottom .s_top span i{
	    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid black;
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    right: 8px;
}
.bottom_right_bottom .s_bottom{
	margin-top: 20px;
}
.bottom_right_bottom .s_bottom dl{
	width: 193px;
	height: 262px;
	overflow: hidden;
	float: left;
}
.bottom_right_bottom .s_bottom dl b{
	font-size: 14px;
	margin: 0 0 0 25px;
}
.bottom_right_bottom .s_bottom dl dt{
	width: 202px;
	height: 180px;
	text-align: center;
}
.bottom_right_bottom .s_bottom dl dd{
	font-size: 12px;
	width: 159px;
	height: 30px;
	margin: 5px 0 0 25px;
}
.bottom_right_bottom .s_bottom dl dd a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	
}
.bottom_right_bottom .s_bottom dl dd a:hover{
	color: #FD6600;
	border-bottom: 1px solid #FD6600;
}
.bottom_right_bottom .s_bottom dl:nth-child(1) dd a{
	text-decoration: none;
	color: #6ccbd5;
}
.bottom_right_bottom .s_bottom dl:nth-child(3) dd a{
	color: #008002;
}
.bottom_right_bottom .s_bottom dl:nth-child(4) dd a{
	color: #fd6600;
}
.bottom_right_bottom .s_bottom dl:nth-child(5) dd a{
	color: #3366ff;
}
.bottom_right_bottom .ss_top{
	width: 750px;
	height: 60px;
	border-bottom: 1px solid #e4e4e4;
	position: relative;	
	line-height: 60px;
	margin: auto;
	color: #888888;
}
.bottom_right_bottom .ss_top p button{
    position: absolute;
    top: 21px;
    left: 95px;
    background: #d5d5d5;
    width: 45px;
    height: 18px;
    font-size: 12px;
    color: #666666;
    outline: none;
    border: none;
    border-radius: 5px;
}
.bottom_right_bottom .ss_top button:hover~span{
	display: block;
}
.bottom_right_bottom .ss_top span{
    width: 84px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    top: -8px;
    left: 45px;
    display: none;
}
.bottom_right_bottom .ss_top span i{
	    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid black;
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    right: 8px;
}
.bottom_right_bottom .s_bottom1{
	margin-top: 20px;
}
.bottom_right_bottom .s_bottom1 dl{
	width: 193px;
	height: 262px;
	overflow: hidden;
	float: left;
}
.bottom_right_bottom .s_bottom1 dl b{
	font-size: 14px;
	margin: 0 0 0 25px;
}
.bottom_right_bottom .s_bottom1 dl dt{
	width: 202px;
	height: 180px;
	text-align: center;
}
.bottom_right_bottom .s_bottom1 dl dd{
	font-size: 12px;
	width: 159px;
	height: 30px;
	margin: 5px 0 0 25px;
}
.bottom_right_bottom .s_bottom1 dl dd a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	
}
.bottom_right_bottom .s_bottom1 dl dd a:hover{
	color: #FD6600;
	border-bottom: 1px solid #FD6600;
}
.bottom_right_bottom .s_bottom1 dl:nth-child(1) dd a{
	text-decoration: none;
	color: #6ccbd5;
}
.bottom_right_bottom .s_bottom1 dl:nth-child(2) dd a{
	color: #008002;
}
.bottom_right_bottom .s_bottom1 dl:nth-child(3) dd a{
	color: #fd6600;
}
.bottom_right_bottom .s_bottom1 dl:nth-child(4) dd a{
	color: #3366ff;
}
.bottom_right_bottom .s_bottom2{
	margin-top: 20px;
}
.bottom_right_bottom .s_bottom2 dl{
	width: 193px;
	height: 262px;
	overflow: hidden;
	float: left;
}
.bottom_right_bottom .s_bottom2 dl b{
	font-size: 14px;
	margin: 0 0 0 25px;
}
.bottom_right_bottom .s_bottom2{
	margin-top: 20px;
}
.bottom_right_bottom .s_bottom2 dl{
	width: 193px;
	height: 262px;
	overflow: hidden;
	float: left;
}
.bottom_right_bottom .s_bottom2 dl b{
	font-size: 14px;
	margin: 0 0 0 25px;
}
.bottom_right_bottom .s_bottom2 dl dt{
	width: 202px;
	height: 180px;
	text-align: center;
}
.bottom_right_bottom .s_bottom2 dl dd{
	font-size: 12px;
	width: 159px;
	height: 30px;
	margin: 5px 0 0 25px;
}
.bottom_right_bottom .s_bottom2 dl dd a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	
}
.bottom_right_bottom .s_bottom2 dl dd a:hover{
	color: #FD6600;
	border-bottom: 1px solid #FD6600;
}
.bottom_right_bottom .s_bottom2 dl:nth-child(1) dd a{
	text-decoration: none;
	color: #008002;
}
.bottom_right_bottom .s_bottom2 dl:nth-child(2) dd a{
	color: #6ccbd5;
}
.bottom_right_bottom .s_bottom2 dl:nth-child(3) dd a{
	color: #fd6600;
}
.bottom_right_bottom .s_bottom2 dl:nth-child(4) dd a{
	color: #3366ff;
}
.bottom_right_bottom .s_bottom2{
	margin-top: 20px;
}
.bottom_right_bottom .s_bottom2 dl{
	width: 193px;
	height: 262px;
	overflow: hidden;
	float: left;
}
.bottom_right_bottom .s_bottom2 dl b{
	font-size: 14px;
	margin: 0 0 0 25px;
}