.box, .box1 { width: 100px; height: 500px; background: red; }

.top1 { background: red; }

.box1 { width: 100px; height: 10px; background: red; }
.box1 div { border: 1px solid; }
.box1 div p { background: red; }

* { margin: 0; padding: 0; }

.header { width: 980px; height: 110px; }
.header .header_moddle { height: 44px; }
.header .senced { height: 40px; position: relative; }

.main { width: 980px; height: 100%; margin: 0 auto; }
